In [19]:
import pandas as pd
import numpy as np

In [2]:
wine_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv', sep=';')

In [4]:
wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [37]:
data = {'Variables':['fixed acidity', 'volatile acidity', 'residual sugar','chlorides']}

template = pd.DataFrame(data) 
template['sum'] = pd.Series()
template

          Variables  sum
0     fixed acidity  NaN
1  volatile acidity  NaN
2    residual sugar  NaN
3         chlorides  NaN

In [40]:
for i in range(len(template)): 
    test = template.iloc[i,0]
    Total = wine_df[test].sum()
    template.iat[i,1] = Total

#the aim is the use the variable row to output the right value from the column

In [41]:
Total

139.85899999999998

In [42]:
test

'chlorides'

In [43]:
template

          Variables        sum
0     fixed acidity  13303.100
1  volatile acidity    843.985
2    residual sugar   4059.550
3         chlorides    139.859